.telaPrincipal {
    -fx-background-color: black;
}

.tela-esquerda {
    -fx-pref-width: 300;
    -fx-alignment: center;
}

.tela-topo {
    -fx-pref-height: 200;
    -fx-alignment: center;
}

.titulo {
    -fx-translate-y: 40;
    -fx-font-size: 90;
    -fx-text-fill: white;
    -fx-font-width: italic;
}

.btn {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-font-size: 24;
    -fx-pref-width: 200;
    -fx-border-radius: 20;
    -fx-border-size: 20;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.btn:hover {
    -fx-background-color: rgb(78, 78, 78);
}

.tela-cadastro {
    -fx-max-width: 900;
    -fx-spacing: 10;
    -fx-padding: 100 20 20 200;
}

.tela-cadastro .label {
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-radius: 20;
    -fx-font-size: 24;
}

.tela-cadastro .combo-box {
    -fx-font-size: 24;
    -fx-pref-width: 200;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.tela-lista {
    -fx-max-width: 1100;
    -fx-spacing: 10;
    -fx-padding: 70 20 20 50;
}

.hbox-busca {
    -fx-spacing: 10;
}

.hbox-detalhes {
    -fx-spacing: 10;
}

.list-view {
    -fx-font-size: 24;
    -fx-pref-width: 400;
    -fx-backgroung-color: black;
    -fx-background-radius: 20;
}

.text-area {
    -fx-font-size: 24;
    -fx-max-width: 600;
    -fx-background-radius: 20;
}

.tela-matricula .label {
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.tela-matricula .combo-box {
    -fx-font-size: 24;
    -fx-pref-width: 400;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.tela-matricula {
    -fx-max-width: 1000;
}

.tela-lista-matricula {
    -fx-max-width: 1000;
}

.subtitle {
    -fx-font-size: 30;
    -fx-text-fill: white;
}

.table-view {
    -fx-font-size: 16;
}

.tv-column {
    -fx-pref-width: 200;
    -fx-alignment: center;
}
